@import 'ColorScheme';
@import 'Components/All';
@import 'Document';
.editor {
    background-color: $background-color;
}

.editor,
.editor textarea,
.editor input[type="text"] {
    color: $foreground-color;
    font-family: 'Raleway', sans-serif;
}

.editor input[type="text"] {
    padding: .1rem .5rem;
}

.editor textarea {
    overflow: hidden;
}

.editor.main {
    padding-top: 8rem;
}

.editor.loading,
.editor.failure {
    display: flex;
    height: 100%;
    position: fixed;
    width: 100%;
    &>div:only-child {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: auto;
        text-shadow: 1px 1px 1px white;
        p {
            font-weight: bold;
            text-align: center;
        }
    }
}