.paragraph {
    height: 100%;
    textarea {
        border: none;
        height: 100%;
        resize: none;
        overflow-x: hidden;
        overflow-y: scroll;
        padding: .5rem;
        width: 100%;
    }
}