.block {
  border: 0;
  border-radius: 0;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  padding: 0;
  margin: 0;
  width: 100%; }
  .block .header {
    width: 100%;
    font-size: 1rem;
    font-family: sans-serif;
    font-weight: 600;
    text-transform: upper;
    padding-left: 1rem;
    background-color: #efefef; }
  .block .block {
    box-shadow: none; }

.paragraph {
  height: 100%; }
  .paragraph textarea {
    border: none;
    height: 100%;
    resize: none;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: .5rem;
    width: 100%; }
    .paragraph textarea:focus {
      background-color: #eee; }

.section {
  border: 1px solid #efefef;
  margin-bottom: 1rem; }

.document {
  margin: 4rem auto;
  padding: 0;
  width: 60vw; }

.editor {
  background-color: #eee; }
  .editor.loading, .editor.failure {
    display: flex;
    height: 100%;
    position: fixed;
    width: 100%; }
    .editor.loading > div:only-child, .editor.failure > div:only-child {
      align-items: center;
      color: #666;
      display: flex;
      flex-direction: column;
      margin: auto;
      text-shadow: 1px 1px 1px #fff; }
      .editor.loading > div:only-child p, .editor.failure > div:only-child p {
        font-weight: bold;
        text-align: center; }

body {
  background-color: white;
  font-family: sans-serif; }

main {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%; }
