@import '../ColorScheme';
.menu {
    background-color: $background-color-lighter;
    position: fixed;
    height: 6em;
    width: 100vw;
    left: 0;
    padding: 1rem;
    margin: 0;
    transition: top 300ms ease-out;
    &.closed {
        top: -5em;
    }
    &.open {
        top: 0;
    }
}

.menu .switcher {
    font-size: .5rem;
    justify-content: center;
    align-items: center;
    position: absolute;
    display: flex;
    height: 1rem;
    width: 100%;
    bottom: 0;
    left: 0;
    transition: background-color 300ms ease-out;
    &:hover {
        background-color: $background-color-darker;
    }
}